@keyframes scroll-fast {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-33.333%);
    }
}

.animate-scroll-fast {
    animation: scroll-fast 15s linear infinite;
}

.animate-scroll-fast:hover {
    animation-play-state: paused;
}

